doctype html
html
    head
        title my jade template
        link(rel="stylesheet", href="/public/css/base.css")
        link(rel="stylesheet", href="/public/css/md.css")
    header  header!
    body(id="rap") !{content}
    footer  footer!